<h3>What do you think the password is?</h3>
<form action='/guess' method='post'>
  <input type='password' name='password'>
  <button type='submit'>
    Guess!
  </button>
</form>
<script src="/hello.js"></script>
<script></script>